
<template name="headerTitle">
    <div class="pull-left">
        <div id="header-container">
            <h5>Nevexis lunch manager</h5>
            <div class="dropdown1">
                  <span style="font-size: 26px;"class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                     {{options.date}}
                  </span>
            </div>
            {{#if options.timerActivated}}
                <p title="Time before ordering closes">{{options.timeLeft}}</p>
            {{/if}}
        </div>
    </div>
</template>